<main class="main friends">
    <div class="links-list">
        <div class='links-content'>
            <% (page.links || []).forEach((item) => { %>
                <a class='links-card button' style='background:<%- item.backgroundColor %>; color:<%- item.textColor %>' target="<%- item.target || '_blank' %>" href='<%- url_for(item.url || '') %>'>
                    <div class='links-left'>
                    <% if (item.avatar) { %>
                        <img no-lazy class='avatar' src='<%- item.avatar %>'/>
                    <% } %>
                    </div>
                    <div class='links-right'>
                    <p class="links-name"><%- item.name %></p>
                    <% if (item.tags) { %>
                        <div class='links-tags-wrapper'>
                            <%
                            var ts = [];
                            (item.tags || []).forEach((tag) => {
                                ts.push(tag);
                            })
                            %>
                            <p class="tags"><%= ts.join(' | ') %></p>
                        </div>
                    <% } %>
                    <% if (item.desc) { %>
                        <div class='links-tags-wrapper'>
                            <p class="tags"><%= item.desc %></p>
                        </div>
                    <% } %>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
    <br><br>
    <center><strong>正常情况，本站不再接受主动友链申请<br>不过可以留下你的网站，如果我觉得不错，我可能会向你主动提出申请</strong></center>
</main>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
