<head>
    <meta charset="utf-8">

    <% if (page.robots) { %>
        <meta name="robots" content="<%- page.robots %>">
    <% } %>

    <!--icon-->
    <% if (theme.head.favicon) { %>
        <link rel="shortcut icon" type='image/x-icon' href="<%- url_for(theme.head.favicon) %>">
    <% } else if (config.favicon) { %>
        <link rel="shortcut icon" type='image/x-icon' href="<%- url_for(config.favicon) %>">
    <% } %>

    <!-- 渲染优化 -->
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="HandheldFriendly" content="True" >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- meta -->
    <%
        var title = page.title || '';
        var keywords = page.keywords || '';
        if (!keywords) {
            keywords += page.tags && page.tags.length > 0 ? page.tags.map(t => t.name).join(', ') : '';
        }
        keywords += config.keywords ? keywords ? ', ' + config.keywords : config.keywords : '';
        if (is_archive()) {
            title = __('navbar.archive');
            if (is_month()) {
                title += __('symbol.colon') + page.year + '/' + page.month;
            } else if (is_year()) {
                title += __('symbol.colon') + page.year;
            }
        } else if (is_category()) {
            title = __('navbar.category') + __('symbol.colon') + page.category;
        } else if (is_tag()) {
            title = __('navbar.tag') + __('symbol.colon') + page.tag;
        }
    %>
    <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
    <% if (keywords) { %>
        <meta name="keywords" content="<%= keywords %>">
    <% } %>

    <!-- OpenGraph -->
    <% if (theme.head.opengraph.enable) { %> 
        <%- open_graph({type: theme.head.opengraph.type, twitter_card: theme.head.opengraph.twitter_card, twitter_id: theme.head.opengraph.twitter_id, image: eval(theme.head.opengraph.image), fb_admins: theme.head.opengraph.fb_admins, fb_app_id: theme.head.opengraph.fb_app_id}) %>
    <% } %>

    <!-- feed -->
    <% if (config.feed && config.feed.path){ %>
        <%- feed_tag(config.feed.path, {title: config.title}) %>
    <% } %>

    <%- css(theme.vendors.style || 'css/style.css') %> 

    <% if (theme.analytics.busuanzi.enable) { %>
        <script async src="<%- theme.vendors.busuanzi || '//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js' %>"></script>
    <% } %> 
    <script>(()=>{const t=document.documentElement,e="user-color-scheme",r="--color-mode",o="data-user-color-scheme",l=(t,e)=>{try{localStorage.setItem(t,e)}catch(t){}},c=t=>{try{localStorage.removeItem(t)}catch(t){}},a=t=>{try{return localStorage.getItem(t)}catch(t){return null}},n=()=>{const e=getComputedStyle(t).getPropertyValue(r);return e.length?e.replace(/["'\s]/g, ''):"dark"===e?"dark":"light"},d=()=>{t.removeAttribute(o),c(e)},u={dark:!0,light:!0},g=r=>{const l=r||a(e);l===n()?d():u[l]?t.setAttribute(o,l):d()},m={dark:"light",light:"dark"},i=()=>{var t=a(e);if(u[t])t=m[t];else{if(null!==t)return;t=m[n()]}return l(e,t),t};g(),window.onload=(()=>{const t=document.getElementById("btn-toggle-dark");t.addEventListener("click",()=>{g(i())})})})();</script>
    <link href="https://fonts.dogedoge.com/css2?family=Roboto+Slab:wght@400;500;700&family=Fira+Code&family=Noto+Sans+SC:wght@400;500;700;900&display=swap" rel="stylesheet" media="print" onload='this.media="all"'>
    <% if (theme.head.custom_head && theme.head.custom_head.forEach) { %>
        <% theme.head.custom_head.forEach((item) => { %>
            <%- item %> 
        <% }); %>
    <% } %>
</head>
