<%
page.layout = "links"
page.title = theme.links.title || __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
page.banner_img = theme.links.banner_img
page.banner_img_height = theme.links.banner_img_height
page.banner_mask_alpha = theme.page404.banner_mask_alpha
%>

<h4 class="note note-success">👨‍🎓 跟着身边的大佬走，努力成为小大佬</h4>
<div class="row links">
	<% for(const each of theme.links.defaultlinks) { %>
		<% if (!each.title || !each.link) continue %>
		<div class="card col-lg-4 col-md-6 col-sm-12">
			<a href="https://<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
			  <div class="card-content">
				<% if (each.image) { %>
				  <div class="link-avatar my-auto">
					<img src="https://cdn.jsdelivr.net/gh/Royce2019/BlogSource/links/<%= each.image %>.webp" alt="<%= each.title %>" />
				  </div>
				<% } %>
				<div class="link-text">
				  <div class="link-title"><%- each.title %></div>
				  <div class="link-intro"><%- each.intro %></div>
				</div>
			  </div>
			</a>
		  </div>
	<% } %>
</div>

<h4 class="note note-primary">🍭 五湖四海的朋友们</h4>
<div class="row links">
	<% for(const each of theme.links.friendslinks) { %>
		<% if (!each.title || !each.link) continue %>
		<div class="card col-lg-4 col-md-6 col-sm-12">
			<a href="https://<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
			  <div class="card-content">
				<% if (each.image) { %>
				  <div class="link-avatar my-auto">
					<img src="https://cdn.jsdelivr.net/gh/Royce2019/BlogSource/links/<%= each.image %>.webp" alt="<%= each.title %>" />
				  </div>
				<% } %>
				<div class="link-text">
				  <div class="link-title"><%- each.title %></div>
				  <div class="link-intro"><%- each.intro %></div>
				</div>
			  </div>
			</a>
		  </div>
	<% } %>
</div>
<div id="dowebok"></div>
<div class="mt-5 markdown-body">
	<%- page.content %>
</div>