<%
page.layout = "links"
page.title = theme.links.title || __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
page.banner_img = theme.links.banner_img
page.banner_img_height = theme.links.banner_img_height
%>

<h4 class="note note-success">👨‍🎓 跟着身边的大佬走，努力成为小大佬</h4>
<div class="row links">
	<% for(const each in theme.links.defaultlinks) { %>
		<% var props = theme.links.defaultlinks[each] %>
		<% if (!props) continue %>
			<div class="card col-lg-4 col-md-6 col-sm-12">
				<a href="<%= url_for(props[0]) %>" class="card-body" target="_blank" rel="nofollow noopener">
					<div class="row">
						<img class="link-avatar my-auto" src="<%= props[2] %>" alt="<%= each %>" />
						<div class="link-text">
							<div class="link-title"><%- each %></div>
							<div class="link-intro"><%- props[1] %></div>
						</div>
					</div>
				</a>
			</div>
	<% } %>
</div>

<h4 class="note note-primary">🍭 五湖四海的朋友们</h4>
<div class="row links">
	<% for(const each in theme.links.friendslinks) { %>
		<% var props = theme.links.friendslinks[each] %>
		<% if (!props) continue %>
			<div class="card col-lg-4 col-md-6 col-sm-12">
				<a href="<%= url_for(props[0]) %>" class="card-body" target="_blank" rel="nofollow noopener">
					<div class="row">
						<img class="link-avatar my-auto" src="<%= props[2] %>" alt="<%= each %>" />
						<div class="link-text">
							<div class="link-title"><%- each %></div>
							<div class="link-intro"><%- props[1] %></div>
						</div>
					</div>
				</a>
			</div>
	<% } %>
</div>

<p class="note note-success">
	<strong>申请要求<br></strong>
	&#8195;无广告<br>
	&#8195;保持更新<br>
	&#8195;若网站长期打不开，本站会取消友链
</p>
<p class="note note-info">
	<strong>留言格式<br></strong>
	&#8195;名称: Royce<br>
	&#8195;网站: https://royce2003.top<br>
	&#8195;简介: OI小白<br>
	&#8195;头像: https://cdn.jsdelivr.net/gh/Royce2019/img/img/avatar.jpg
</p>

<!-- Comments -->
<div class="container comments mx-auto" id="comments">
    <% if(theme.post.comments.enable) { %>
    <br><br>
    <% var type = '_partial/comments/' + theme.post.comments.type %>
    <%- partial(type) %>
    <% } %>
</div>