<%
page.layout = "links"
page.title = theme.links.title || __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
page.banner_img = theme.links.banner_img
page.banner_img_height = theme.links.banner_img_height
%>

<h4 class="note note-success">👨‍🎓 跟着身边的大佬走，努力成为小大佬</h4>
<div class="row links">
	<% for(const each in theme.links.defaultlinks) { %>
		<% var props = theme.links.defaultlinks[each] %>
		<% if (!props) continue %>
			<div class="card col-lg-4 col-md-6 col-sm-12">
				<a href="<%= url_for(props[0]) %>" class="card-body" target="_blank" rel="noopener">
					<div class="card-content">
						<div class="link-avatar my-auto">
							<img src="<%= props[2] %>" alt="<%= each %>" />
						</div>
						<div class="link-text">
							<div class="link-title"><%- each %></div>
							<div class="link-intro"><%- props[1] %></div>
						</div>
					</div>
				</a>
			</div>
	<% } %>
</div>

<h4 class="note note-primary">🍭 五湖四海的朋友们</h4>
<div class="row links">
	<% for(const each in theme.links.friendslinks) { %>
		<% var props = theme.links.friendslinks[each] %>
		<% if (!props) continue %>
			<div class="card col-lg-4 col-md-6 col-sm-12">
				<a href="<%= url_for(props[0]) %>" class="card-body" target="_blank" rel="noopener">
					<div class="card-content">
						<div class="link-avatar my-auto">
							<img src="<%= props[2] %>" alt="<%= each %>" />
						</div>
						<div class="link-text">
							<div class="link-title"><%- each %></div>
							<div class="link-intro"><%- props[1] %></div>
						</div>
					</div>
				</a>
			</div>
	<% } %>
</div>
<div id="dowebok"></div>
<hr>
<br><br>
<div class="text-center"><strong>欢迎添加友链⭐</strong></div><br>
<div class="note note-success">
	<strong>🛬 申请要求</strong><br>
	&#8195;博客可以稳定访问，无繁杂广告推广<br>
	&#8195;不与资源站或平台博客（CSDN等）交换友链<br>
	&#8195;原则上只与原创类博客交换友链，大量转载内容不考虑<br>
</div>
<div class="note note-warning">
	<strong>🌈 友链声明</strong><br>
	&#8195;本站会主动保存您的头像图片，请务必提供 1:1 头像<br>
	&#8195;本站会定期移除无法访问的友链，若更换了网站链接请留言<br>
	&#8195;本站会定期查看是否互为友链，若取消本站友链，本站也会移除您的友链<br>
</div>
<div class="note note-info">
	<strong>🚄 留言格式</strong><br>
	&#8195;名称: Royce<br>
	&#8195;网站: https://royce2003.top<br>
	&#8195;简介: OI小白<br>
	&#8195;头像: https://cdn.jsdelivr.net/gh/Royce2019/img/img/avatar.jpg
</div>
<br><br>
<center>
	<a class="link link--kukuri" href="../messageboard" data-letters="申请友链">申请友链</a>
</center>